In [31]:
import pandas as pd
from datetime import datetime

df = pd.read_excel("hotelBookings.xlsx")
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0.0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0.0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1.0,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1.0,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2.0,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Resort Hotel,0,34,2015,August,33,9,2,2.0,2,...,No Deposit,240.0,NaN,0,Transient,211.00,0,1,Check-Out,2015-08-13
996,Resort Hotel,0,82,2015,August,33,9,2,2.0,2,...,No Deposit,240.0,NaN,0,Transient,154.00,0,0,Check-Out,2015-08-13
997,Resort Hotel,1,65,2015,August,33,9,2,3.0,2,...,No Deposit,240.0,NaN,0,Transient,145.40,0,0,Canceled,2015-06-22
998,Resort Hotel,1,129,2015,August,33,9,2,3.0,1,...,No Deposit,240.0,NaN,0,Transient,101.25,0,0,Canceled,2015-04-06
999,Resort Hotel,0,55,2015,August,33,9,2,4.0,2,...,No Deposit,242.0,NaN,0,Transient,179.38,0,0,Check-Out,2015-08-15

In [76]:
def clean_1(df):
    if len(df[df.hotel != 'Resort Hotel']) == 0:
        print('column hotel is clean')
        return df
clean_1(df)

column hotel is clean

In [75]:
def clean_2(df):
    if len(df[~df['is_canceled'].isin([0, 1])]) == 0:
        print('column hotel is clean')
        return df
clean_2(df)

column hotel is clean

In [74]:
def clean_3(df):
    if len(df[df.lead_time < 0]) == 0 and len(df[df.lead_time%1 != 0]) == 0:
        print("column lead_time is clean")
        return df
clean_3(df)

column lead_time is clean

In [111]:
def clean_4(df):
    #vervang alle jaren hoger dan het huidig jaar door 2015, want dat is het enige jaar dat voorkomt
    nono = df[df.arrival_date_year > datetime.now().year].index
    df.loc[df.index.isin(nono),'arrival_date_year'] = 2015
    if len(df[df.arrival_date_year > datetime.now().year]) == 0:
        print("column arrival_date_year is clean")
        return df
clean_4(df)

column arrival_date_year is clean

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_data_year
0,Resort Hotel,0,342,2015,July,27,1,0,0.0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,NaN
1,Resort Hotel,0,737,2015,July,27,1,0,0.0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,NaN
2,Resort Hotel,0,7,2015,July,27,1,0,1.0,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,NaN
3,Resort Hotel,0,13,2015,July,27,1,0,1.0,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,NaN
4,Resort Hotel,0,14,2015,July,27,1,0,2.0,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Resort Hotel,0,34,2015,August,33,9,2,2.0,2,...,240.0,NaN,0,Transient,211.00,0,1,Check-Out,2015-08-13,NaN
996,Resort Hotel,0,82,2015,August,33,9,2,2.0,2,...,240.0,NaN,0,Transient,154.00,0,0,Check-Out,2015-08-13,NaN
997,Resort Hotel,1,65,2015,August,33,9,2,3.0,2,...,240.0,NaN,0,Transient,145.40,0,0,Canceled,2015-06-22,NaN
998,Resort Hotel,1,129,2015,August,33,9,2,3.0,1,...,240.0,NaN,0,Transient,101.25,0,0,Canceled,2015-04-06,NaN
999,Resort Hotel,0,55,2015,August,33,9,2,4.0,2,...,242.0,NaN,0,Transient,179.38,0,0,Check-Out,2015-08-15,NaN

In [113]:
def clean_5(df):
    #vervang alle rijen die niet
    nono = df[~df.arrival_date_month.isin(['Januari','Februari','March','April','May','June','July','August','September','October','November','December'])].index
    df.loc[df.index.isin(nono),'arrival_date_month'] = 'July'
    if len(df[df.arrival_date_year > datetime.now().year]) == 0:
        print("column arrival_date_month is clean")
        return df
clean_5(df)

column arrival_date_month is clean

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_data_year
0,Resort Hotel,0,342,2015,July,27,1,0,0.0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,NaN
1,Resort Hotel,0,737,2015,July,27,1,0,0.0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,NaN
2,Resort Hotel,0,7,2015,July,27,1,0,1.0,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,NaN
3,Resort Hotel,0,13,2015,July,27,1,0,1.0,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,NaN
4,Resort Hotel,0,14,2015,July,27,1,0,2.0,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Resort Hotel,0,34,2015,August,33,9,2,2.0,2,...,240.0,NaN,0,Transient,211.00,0,1,Check-Out,2015-08-13,NaN
996,Resort Hotel,0,82,2015,August,33,9,2,2.0,2,...,240.0,NaN,0,Transient,154.00,0,0,Check-Out,2015-08-13,NaN
997,Resort Hotel,1,65,2015,August,33,9,2,3.0,2,...,240.0,NaN,0,Transient,145.40,0,0,Canceled,2015-06-22,NaN
998,Resort Hotel,1,129,2015,August,33,9,2,3.0,1,...,240.0,NaN,0,Transient,101.25,0,0,Canceled,2015-04-06,NaN
999,Resort Hotel,0,55,2015,August,33,9,2,4.0,2,...,242.0,NaN,0,Transient,179.38,0,0,Check-Out,2015-08-15,NaN

In [129]:
def clear_6(df):
    if len(df[~df.arrival_date_week_number.isin(range(0,51))]) == 0:
        print("column arrival_date_week_number is clean")
        return df

In [128]:
def clear_7(df):
    if len(df[~df.arrival_date_day_of_month.isin(range(1,32))]) == 0:
        print("column arrival_date_day_of_month is clean")
        return df
clear_7(df)

column arrival_date_day_of_month is clean

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_data_year
0,Resort Hotel,0,342,2015,July,27,1,0,0.0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,NaN
1,Resort Hotel,0,737,2015,July,27,1,0,0.0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,NaN
2,Resort Hotel,0,7,2015,July,27,1,0,1.0,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,NaN
3,Resort Hotel,0,13,2015,July,27,1,0,1.0,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,NaN
4,Resort Hotel,0,14,2015,July,27,1,0,2.0,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Resort Hotel,0,34,2015,August,33,9,2,2.0,2,...,240.0,NaN,0,Transient,211.00,0,1,Check-Out,2015-08-13,NaN
996,Resort Hotel,0,82,2015,August,33,9,2,2.0,2,...,240.0,NaN,0,Transient,154.00,0,0,Check-Out,2015-08-13,NaN
997,Resort Hotel,1,65,2015,August,33,9,2,3.0,2,...,240.0,NaN,0,Transient,145.40,0,0,Canceled,2015-06-22,NaN
998,Resort Hotel,1,129,2015,August,33,9,2,3.0,1,...,240.0,NaN,0,Transient,101.25,0,0,Canceled,2015-04-06,NaN
999,Resort Hotel,0,55,2015,August,33,9,2,4.0,2,...,242.0,NaN,0,Transient,179.38,0,0,Check-Out,2015-08-15,NaN

In [24]:
def clear8(df):
    df = df.drop(df[df['stays_in_week_nights']%1 != 0].index)
    if len(df[df['stays_in_week_nights']%1 != 0]):
        return df

In [40]:
def clear9(df):
    df = df.drop(df[df['adults'] > 50].index)
    df = df.drop(df[df['children'] > 50].index)
    if len(df[df['children'] > 50]) == 0 and len(df[df['adults'] > 50]) == 0:
        print("columns adults and children are clean")

In [43]:
a = 0
for i in range(128):
    a += i
a, 128 * 128/2

(8128, 8192.0)

In [ ]:
import multiprocessing

def calculate_optimal_range(start, end):
    optimal = 1
    for i in range(start, end):
        if optimal < i * 7 - i + 3:
            optimal = i * 7 - i + 3
    return optimal,i

if __name__ == "__main__":
    num_cores = multiprocessing.cpu_count()
    start = 0
    end = 100

    # Split the range into chunks for parallel processing
    chunk_size = (end - start) // num_cores
    chunks = [(i, i + chunk_size) for i in range(start, end, chunk_size)]

    # Create a pool of worker processes
    pool = multiprocessing.Pool(processes=num_cores)

    # Calculate the optimal values in parallel
    results = pool.starmap(calculate_optimal_range, chunks)

    # Close the pool and wait for all processes to finish
    pool.close()
    pool.join()

    # Find the overall optimal value
    overall_optimal = max(results)

    print("Overall optimal value:", overall_optimal)

In [ ]:
1016 // 4,4 * 253