In [154]:
import pandas as pd
from datetime import datetime

df = pd.read_excel("hotelBookings.xlsx")
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0.0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0.0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1.0,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1.0,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2.0,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Resort Hotel,0,34,2015,August,33,9,2,2.0,2,...,No Deposit,240.0,NaN,0,Transient,211.00,0,1,Check-Out,2015-08-13
996,Resort Hotel,0,82,2015,August,33,9,2,2.0,2,...,No Deposit,240.0,NaN,0,Transient,154.00,0,0,Check-Out,2015-08-13
997,Resort Hotel,1,65,2015,August,33,9,2,3.0,2,...,No Deposit,240.0,NaN,0,Transient,145.40,0,0,Canceled,2015-06-22
998,Resort Hotel,1,129,2015,August,33,9,2,3.0,1,...,No Deposit,240.0,NaN,0,Transient,101.25,0,0,Canceled,2015-04-06
999,Resort Hotel,0,55,2015,August,33,9,2,4.0,2,...,No Deposit,242.0,NaN,0,Transient,179.38,0,0,Check-Out,2015-08-15

In [76]:
def clean_1(df):
    if len(df[df.hotel != 'Resort Hotel']) == 0:
        print('column hotel is clean')
        return df
clean_1(df)

column hotel is clean

In [75]:
def clean_2(df):
    if len(df[~df['is_canceled'].isin([0, 1])]) == 0:
        print('column hotel is clean')
        return df
clean_2(df)

column hotel is clean

In [74]:
def clean_3(df):
    if len(df[df.lead_time < 0]) == 0 and len(df[df.lead_time%1 != 0]) == 0:
        print("column lead_time is clean")
        return df
clean_3(df)

column lead_time is clean

In [111]:
def clean_4(df):
    #vervang alle jaren hoger dan het huidig jaar door 2015, want dat is het enige jaar dat voorkomt
    nono = df[df.arrival_date_year > datetime.now().year].index
    df.loc[df.index.isin(nono),'arrival_date_year'] = 2015
    if len(df[df.arrival_date_year > datetime.now().year]) == 0:
        print("column arrival_date_year is clean")
        return df
clean_4(df)

column arrival_date_year is clean

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_data_year
0,Resort Hotel,0,342,2015,July,27,1,0,0.0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,NaN
1,Resort Hotel,0,737,2015,July,27,1,0,0.0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,NaN
2,Resort Hotel,0,7,2015,July,27,1,0,1.0,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,NaN
3,Resort Hotel,0,13,2015,July,27,1,0,1.0,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,NaN
4,Resort Hotel,0,14,2015,July,27,1,0,2.0,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Resort Hotel,0,34,2015,August,33,9,2,2.0,2,...,240.0,NaN,0,Transient,211.00,0,1,Check-Out,2015-08-13,NaN
996,Resort Hotel,0,82,2015,August,33,9,2,2.0,2,...,240.0,NaN,0,Transient,154.00,0,0,Check-Out,2015-08-13,NaN
997,Resort Hotel,1,65,2015,August,33,9,2,3.0,2,...,240.0,NaN,0,Transient,145.40,0,0,Canceled,2015-06-22,NaN
998,Resort Hotel,1,129,2015,August,33,9,2,3.0,1,...,240.0,NaN,0,Transient,101.25,0,0,Canceled,2015-04-06,NaN
999,Resort Hotel,0,55,2015,August,33,9,2,4.0,2,...,242.0,NaN,0,Transient,179.38,0,0,Check-Out,2015-08-15,NaN

In [113]:
def clean_5(df):
    #vervang alle rijen die niet
    nono = df[~df.arrival_date_month.isin(['Januari','Februari','March','April','May','June','July','August','September','October','November','December'])].index
    df.loc[df.index.isin(nono),'arrival_date_month'] = 'July'
    if len(df[df.arrival_date_year > datetime.now().year]) == 0:
        print("column arrival_date_month is clean")
        return df
clean_5(df)

column arrival_date_month is clean

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_data_year
0,Resort Hotel,0,342,2015,July,27,1,0,0.0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,NaN
1,Resort Hotel,0,737,2015,July,27,1,0,0.0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,NaN
2,Resort Hotel,0,7,2015,July,27,1,0,1.0,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,NaN
3,Resort Hotel,0,13,2015,July,27,1,0,1.0,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,NaN
4,Resort Hotel,0,14,2015,July,27,1,0,2.0,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Resort Hotel,0,34,2015,August,33,9,2,2.0,2,...,240.0,NaN,0,Transient,211.00,0,1,Check-Out,2015-08-13,NaN
996,Resort Hotel,0,82,2015,August,33,9,2,2.0,2,...,240.0,NaN,0,Transient,154.00,0,0,Check-Out,2015-08-13,NaN
997,Resort Hotel,1,65,2015,August,33,9,2,3.0,2,...,240.0,NaN,0,Transient,145.40,0,0,Canceled,2015-06-22,NaN
998,Resort Hotel,1,129,2015,August,33,9,2,3.0,1,...,240.0,NaN,0,Transient,101.25,0,0,Canceled,2015-04-06,NaN
999,Resort Hotel,0,55,2015,August,33,9,2,4.0,2,...,242.0,NaN,0,Transient,179.38,0,0,Check-Out,2015-08-15,NaN

In [129]:
def clear_6(df):
    if len(df[~df.arrival_date_week_number.isin(range(0,51))]) == 0:
        print("column arrival_date_week_number is clean")
        return df

In [128]:
def clear_7(df):
    if len(df[~df.arrival_date_day_of_month.isin(range(1,32))]) == 0:
        print("column arrival_date_day_of_month is clean")
        return df
clear_7(df)

column arrival_date_day_of_month is clean

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,arrival_data_year
0,Resort Hotel,0,342,2015,July,27,1,0,0.0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,NaN
1,Resort Hotel,0,737,2015,July,27,1,0,0.0,2,...,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,NaN
2,Resort Hotel,0,7,2015,July,27,1,0,1.0,1,...,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,NaN
3,Resort Hotel,0,13,2015,July,27,1,0,1.0,1,...,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,NaN
4,Resort Hotel,0,14,2015,July,27,1,0,2.0,2,...,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Resort Hotel,0,34,2015,August,33,9,2,2.0,2,...,240.0,NaN,0,Transient,211.00,0,1,Check-Out,2015-08-13,NaN
996,Resort Hotel,0,82,2015,August,33,9,2,2.0,2,...,240.0,NaN,0,Transient,154.00,0,0,Check-Out,2015-08-13,NaN
997,Resort Hotel,1,65,2015,August,33,9,2,3.0,2,...,240.0,NaN,0,Transient,145.40,0,0,Canceled,2015-06-22,NaN
998,Resort Hotel,1,129,2015,August,33,9,2,3.0,1,...,240.0,NaN,0,Transient,101.25,0,0,Canceled,2015-04-06,NaN
999,Resort Hotel,0,55,2015,August,33,9,2,4.0,2,...,242.0,NaN,0,Transient,179.38,0,0,Check-Out,2015-08-15,NaN

In [123]:
def clear8(df):
    print(len(df))
    df = df.drop(df[df['stays_in_week_nights']%1 != 0].index)
    print(len(df))
    if len(df[df['stays_in_week_nights']%1 != 0]):
        return df
df = clear8(df)
df = df.drop(df[df['stays_in_week_nights']%1 != 0].index)
len(df)

1000
1000

999

In [96]:
def clear9(df):
    df = df.drop(df[df['adults'] > 50].index)
    df = df.drop(df[df['children'] > 50].index)
    if len(df[df['children'] > 50]) == 0 and len(df[df['adults'] > 50]) == 0:
        print("columns adults and children are clean")
clear9(df)

columns adults and children are clean

In [43]:
a = 0
for i in range(128):
    a += i
a, 128 * 128/2

(8128, 8192.0)

In [ ]:
import multiprocessing

def calculate_optimal_range(start, end):
    optimal = 1
    for i in range(start, end):
        if optimal < i * 7 - i + 3:
            optimal = i * 7 - i + 3
    return optimal,i

if __name__ == "__main__":
    num_cores = multiprocessing.cpu_count()
    start = 0
    end = 100

    # Split the range into chunks for parallel processing
    chunk_size = (end - start) // num_cores
    chunks = [(i, i + chunk_size) for i in range(start, end, chunk_size)]

    # Create a pool of worker processes
    pool = multiprocessing.Pool(processes=num_cores)

    # Calculate the optimal values in parallel
    results = pool.starmap(calculate_optimal_range, chunks)

    # Close the pool and wait for all processes to finish
    pool.close()
    pool.join()

    # Find the overall optimal value
    overall_optimal = max(results)

    print("Overall optimal value:", overall_optimal)

In [157]:
def clear10(df):
    df.reset_index()
    for i in range(len(df)):
        if len(df.loc[i,'meal']) != 2:
            df.loc[i,'meal'] = df.loc[i,'meal'].replace(' ','')
    print('meal is cl')
    return df
df = clear10(df)
df.head(20)

meal is cl

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0.0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0.0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1.0,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1.0,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2.0,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2.0,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2.0,2,...,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2.0,2,...,No Deposit,303.0,NaN,0,Transient,103.00,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3.0,2,...,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3.0,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,2015-04-22
10,Resort Hotel,1,23,2015,July,27,1,0,4.0,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,2015-06-23
11,Resort Hotel,0,35,2015,July,27,1,0,4.0,2,...,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out,2015-07-05
12,Resort Hotel,0,68,2015,July,27,1,0,4.0,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
13,Resort Hotel,0,18,2015,July,27,1,0,4.0,2,...,No Deposit,241.0,NaN,0,Transient,154.77,0,1,Check-Out,2015-07-05
14,Resort Hotel,0,37,2015,July,27,1,0,4.0,2,...,No Deposit,241.0,NaN,0,Transient,94.71,0,0,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015,July,27,1,0,4.0,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
16,Resort Hotel,0,37,2015,July,27,1,0,4.0,2,...,No Deposit,8.0,NaN,0,Contract,97.50,0,0,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015,July,27,1,0,1.0,2,...,No Deposit,240.0,NaN,0,Transient,88.20,0,0,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015,July,27,1,0,1.0,2,...,No Deposit,NaN,110.0,0,Transient,107.42,0,0,Check-Out,2015-07-02
19,Resort Hotel,0,7,2015,July,27,1,0,4.3,2,...,No Deposit,250.0,NaN,0,Transient,153.00,0,1,Check-Out,2015-07-05

In [68]:
def clear11(df):
    for i in range(len(df)):
        if type(df.loc[i,'country']) == int:
            df.loc[i,'country'] = None
        elif type(df.loc[i,'country']) == float:
            df.loc[i,'country'] = None
            continue
        elif df.loc[i,'country'] == None:
            'Okay'
        elif len(df.loc[i,'country']) != 2:
            df.loc[i,'country'] = df.loc[i,'country'].replace(' ','')
clear11(df)

In [63]:
print(df.loc[6,'country'])

None

In [92]:
df[df.agent == df.agent.loc[0]]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 32 columns]

In [192]:
a = pd.DataFrame({
    'a' : [2,3,4,5,6],
    'b' : [3,4,5,7,8]
})
print(a)
a.drop(2,inplace = True)
a.reset_index(inplace = True)
a.drop('index',axis = 1)

   a  b
0  2  3
1  3  4
2  4  5
3  5  7
4  6  8

   a  b
0  2  3
1  3  4
2  5  7
3  6  8